<!DOCTYPE html>
<html>
<head>
    <title>{% block title "..." %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="col-md-8">
    <a class="navbar-brand" href="/">...</a>
    <ul class="navbar-nav">
        <li class="nav-item {{ is_subpath('shop') ? 'active' }}">
            <a class="nav-link" href="{{ path('shop') }}">Boutique</a>
        </li>
        <li class="nav-item {{ is_subpath('blog.index') ? 'active' }}">
            <a class="nav-link" href="{{ path('blog.index') }}">Blog</a>
        </li>
        <li class="nav-item {{ is_subpath('contact') ? 'active' }}">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
      </li>
    </ul>
   </div>
    <div class="navbar-nav col-md-4" style="display: flex;">
        {% if module_enabled('basket') %}
            <div class="nav-item">
                <a href="{{ path('basket') }}" class="nav-link"><span class="oi oi-basket"></span> Mon panier ({{ basket_count() }})</a>
            </div>
        {% endif %}
        {% if current_user() %}
            <div class="navbar-text" style="color: white;">Connecté en tant que {{ current_user().username }}</div>
            <div class="nav-item">
                <a href="{{ path('shop.purchases') }}" class="nav-link">Mes achats</a>
            </div>
            &nbsp; &nbsp;
            <form method="post" action="{{ path('auth.logout') }}">
              {{ csrf_input() }}
                <button class="btn btn-danger">Se déconnecter</button>
            </form>
        {% else %}
            <div class="nav-item active">
                <a class="nav-link" href="{{ path('auth.login') }}">Se connecter</a>
            </div>
            <div class="nav-item active">
              <a class="nav-link" href="{{ path('account.signup') }}">S'inscrire</a>
            </div>
        {% endif %}
    </div>
</nav>

<div class="container">

  {% block body %}{% endblock %}

</div><!-- /.container -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js"></script>
<script>
    timeago().render(document.querySelectorAll('.timeago'), 'fr')
</script>
</body>
</html>