<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title "Tableau de bord" %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Lobster" rel="stylesheet">
        <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<style>
  body {
    padding-top: 5rem;
}
@media all and (max-width:766px) 
{
  #navbar-dekstop, #title-dekstop {
    display: none;
  }
}
@media all and (min-width:766px) 
{
  #navbar-phone, #title-phone {
    display: none;
  }
}
</style>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container" id="navbar-dekstop">
  <a class="navbar-brand" href="{{ path('admin') }}">Administration</a>
  <ul class="navbar-nav ml-auto">
        <li class="nav-item {{ is_subpath('blog.index') ? 'active' }}">
            <a class="nav-link" href="{{ path('blog.index') }}">Blog</a>
        </li>
    {{ admin_menu() }}
        <form class="nav-item active" method="post" action="{{ path('auth.logout') }}">
      {{ csrf_input() }}
      <button class="btn btn-danger">Se déconnecter</button>
    </form>
  </ul>
</div>
<div class="container" id="navbar-phone">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed" aria-controls="collapsed" aria-expanded="false" aria-label="Toggle navigation"><span class="toggler"></span></button>
  <ul class="navbar-nav ml-auto collapse" id="collapsed">
        <li class="nav-item {{ is_subpath('blog.index') ? 'active' }}">
            <a class="nav-link" href="{{ path('blog.index') }}">Blog</a>
        </li>
    {{ admin_menu() }}
        <form class="nav-item active" method="post" action="{{ path('auth.logout') }}">
      {{ csrf_input() }}
      <button class="btn btn-danger">Se déconnecter</button>
    </form>
  </ul>
</div>
</nav>

<div class="container">

  {% if flash('success') %}
    <div class="alert alert-success">
      {{ flash('success') }}
    </div>
  {% endif %}

  {% if flash('error') %}
    <div class="alert alert-danger">
      {{ flash('error') }}
    </div>
  {% endif %}

  {% block body %}{% endblock %}

</div><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.js"></script>
<script>
  flatpickr('.datepicker', {
    enableTime: true,
    altInput: true,
    altFormat: 'j F Y, H:i',
    dateFormat: 'Y-m-d H:i:S'
  })
</script>
</body>
</html>